.main{
  margin-top: 15px;
  position: relative;
}
.mainSection{
  padding: 30px;
}
.divImageHome{
  height: auto;
  display: flex;
  justify-content: center;
}
.buttonsCategoryHome{
  display: flex;
  justify-content: center;
  padding-top: 25px;
  gap: 40px;
  align-items: center;
}
.buttonsCategoryHome button{
  font-size: 12px;
  background-color: #DBD0B3;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: #fff;
  width: 70px;
  height: 16px;
}
.textandImageDiv{
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 35px;
  align-items: center;
  margin: auto;
  gap: 30px;
}
.textandImageDiv div{
  width: 70%;
  text-align: justify;
}
.textandImageDiv div h2{
  color: #BFA66F;
  font-size: 15px;
}
.textandImageDiv div h6{
  font-size: 11px;
  color: #BFA66F;
}
.divInfoHomePages{
  background-color: #F5E3E7;
  height: 150px;
  min-width: 100%;
  display: flex;
  text-align: center;
  align-items: center;
}
.divInfoHomePagesTexts{
  flex-direction: column;
  padding: 25px;
}
.divInfoHomePages div p{
  font-size: 15px;
}
.divInfoHomePages div span{
  font-size: 12px;
}
.mainSectionPart{
  padding-bottom: 40px;
  padding-top: 12px;
}
.mainSectionPart h2{
  font-size: 15px;
  padding-left: 30px;
}
.mainSectionPart div{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: auto;
}
.mainSectionPart div img{
  width: 35%;
}